@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Merriweather:300,700,300italic,700italic);
@import url(reset.css);

body, html {
  padding:0;
  margin:0;
  font:300 18px/33px 'Merriweather', Georgia, serif;
  color:#404040;
}

strong {
  font-weight:700;
}

em {
  font-style:italic;
}

a {
  text-decoration:none;
  color:#259286;
  font-weight:700;
}

a:hover, a:focus {
  color:#092832;
}

h1, h2, h3, h4, h5, h6 {
  font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:700;
  letter-spacing:-1px;
  line-height:1.1;
  text-align:center;
}

p, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0 0 30px;
}

h1 {
  font-size:36px;
  color:#092832;
}

h1 a {
  color:#092832;
}

h1 a:hover, h1 a:focus {
  color:#259286;
}

h2 {
  text-align:center;
  font-size:24px;
  color:#465B62;
  position:relative;
  margin:50px 0;
}

h2 span {
  background:#fff;
  display:inline-block;
  padding:0 10px;
  position:relative;
  z-index:2;
}

h2:after {
  content:'';
  background: #efefef;
  display:block;
  position:absolute;
  left:0;
  right:0;
  top:55%;
  height:1px;
  z-index:-1;
}

p.date {
  font:400 12px/1.1 "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  color:#999;
  margin:10px 0 50px;
}

p.date strong {
  font-weight:400;
  color:#727272;
}

body {
  border-top:5px solid #092832;
}

header, footer, section, article {
  display:block;
  width:600px;
  margin:0 auto;
  padding:0 20px;
}

header, footer {
  text-align:center;
  padding:50px 0;
}

article {
  margin-bottom:50px;
  border-bottom:1px solid #efefef;
  padding-bottom:20px;
}

section.tweets {
  font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:400;
  font-size:13px;
  line-height:27px;
  color:#727272;
  vertical-align:middle;
  border-bottom:1px solid #efefef;
  margin-top:-20px;
}

section.tweets iframe {
  vertical-align:middle;
  margin:-2px 0 0 6px;
}

footer {
  font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:400;
  color:#727272;
  font-size:12px;
  margin:50px auto;
  padding-top:0;
}

header.welcome {
  margin:0 0 50px;
  background:#465B62;
  color:#fff;
  color:rgba(255,255,255,0.6);
  width:auto;
}

header.welcome .wrapper {
  margin:0 auto;
  width:600px;
  overflow:hidden;
}

header.welcome h1 {
  color:#fff;
  font-weight:400;
  padding:30px 0 50px;
}

header.welcome .intro {
  float:left;
  width:350px;
  font-size:15px;
}

header.welcome .aside {
  float:right;
  width:210px;
  font-size:13px;
}

header.welcome p {
  text-align:left;
  line-height:25px;
  margin-bottom:0;
}

header.welcome iframe {
  margin-top:8px;
}

header.welcome a {
  color:#EAE3CC;
}

header.welcome a:hover, header.welcome a:focus {
  color:#fff;
}

.meta {
  text-align:center;
}

@media print, screen and (max-width: 640px) {
  body {
    font-size:15px;
    line-height:28px;
  }

  header, footer, section, article, header.welcome div.wrapper {
    display:block;
    width:auto;
  }

  header.welcome p.intro, header.welcome div.aside {
    float:none;
    width:100%;
    margin:0 0 20px;
  }

  header.welcome {
    padding:30px 15px 0;
  }
}
